/*
Red - #be4156

*/

/* Generic CSS */
header{
	background-color: #be4156;
	width: 100%;
	min-height: 100px;
	text-align: center;
}
nav{
	width: 100%;
	border-bottom: 1px solid #e1e1e1;
	text-align: center;
}
.container{
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
}
footer{
	background-color: #2c2c2c;
}

/* Header CSS Start*/
header h1{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	text-align: center;
	font-size: 28px;
	font-weight: 500;
	margin-top: 15px;
}
header h3{
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-align: center;
	margin-top: 5px;
	padding-bottom: 40px;
	font-size: 1rem;
	margin-bottom: 0;
	border: 0;
}
header a{
	margin-top: 30px;
}
	header a img{
		display: inline-block;
		margin-top: 30px;
	}


/* Nav CSS Start*/
nav ul.nav{
	margin: 0 auto;
	display: inline-block;
}
	nav ul.nav>li{
		display: inline-block;
		padding: 25px 12px;
		position: relative;
	}
		nav ul.nav>li>a{
			display: inline-block;
			text-decoration: none;
			color: #575757;
			font-family: 'Open Sans', sans-serif;
			font-size: 19px;
		}
			nav ul.nav>li>a>.fa{
				position: absolute;
				top: 25px;
				left: 25px;
				top: 45px;
				left: 42px;
				font-size: 15px;
			}
			nav ul.nav>li:hover>a{
				color: #be4156;
			}
			nav ul.nav>li>a+ul{
				position: absolute;
				border: 1px solid #e1e1e1;
				top: 69px;
				left: -30px;
				display: none;
				width: 157px;
				background-color: #ffffff;
				z-index: 10
			}
				nav ul.nav>li>a+ul>li{
					padding: 10px 22px;
					text-align: center;
				}
				nav ul.nav>li>a+ul>li:hover{
					background-color: #e1e1e1; 
					color: #ffffff;
				}
					nav ul.nav>li>a+ul>li>a{
						font-family: 'Open Sans', sans-serif;
						color: #575757;
						text-decoration: none;
					}
					nav ul.nav>li>a+ul>li:hover>a{
					}
			nav ul.nav>li:hover>a+ul{
				display: inline-block;
			}
/* Footer CSS Start */
footer{
	text-align: center;
	padding: 50px 0 70px;
}
	footer ul{
		display: inline-block;
	}
		footer ul li{
			display: inline-block;
			padding: 3px 10px;
			border-right: solid 1px #d7d7d7;
		}
		footer ul li:last-child{
			display: inline-block;
			padding: 3px 10px;
			border-right: 0;
		}
			footer ul li a{
				text-decoration: none;
				color: #d7d7d7;
				font-family: 'Open Sans', sans-serif;
			}
	footer p{
		text-align: center;
		color: #d7d7d7;
		font-family: 'Open Sans', sans-serif;
		margin-top: 20px;
	}

/* Index Page CSS */
.hero{
	background: url('../img/guitar.jpg');
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: 50% 40%;
}
.about_us{
	position: relative;
	text-align: center;
	background-color: #f0f0f0;
	padding: 50px 0;
}
	.about_us h3{
		font-family: 'Roboto', sans-serif;
		display: block;
		color: #000000;
		margin: 0 auto;
		font-size: 36px;
		font-weight: 500;
		padding: 10px 100px;
		margin-bottom: 30px;
		border:0;
		text-align: center;
	}
	.about_us img{
		width: 320px;
		display: inline-block;
		vertical-align: top;
		margin-right: 30px;
		padding: 3px;
		border: 1px solid #919191;
		background-color: #fff
	}
	.about_us .text_container{
		width: 659px;
		display: inline-block;
		vertical-align: top;
	}
		.about_us h2,
		.about_us p{
			color: #575757;
			margin: 0 auto;
			font-family: 'Open Sans', sans-serif;	
			font-size: 17px;
			font-weight: 400;
			margin-bottom: 13px;
			line-height: 26px;
			max-width: 800px;
			text-align: left;
		}

.services{
	padding: 50px 0;
}
	.services h3{
		font-family: 'Roboto', sans-serif;
		color: #000000;
		margin: 0 auto;
		font-size: 36px;
		font-weight: 500;
		padding: 10px 100px;
		margin-bottom: 30px;
		border:0;
		text-align: center;
	}
	.services .single_service{
		max-width: 341px;
		width: calc( 33% - 2px );
		display: inline-block;
		box-sizing:border-box;
		-moz-box-sizing:border-box; /* Firefox */
		padding: 0 20px;
		vertical-align: top;
		position: relative;

	}
		.services .single_service .service_icon_outer{
			height: 120px;
			width: 120px;
			text-align: center;
			position: relative;
			margin: 0 auto;
			background-color: #be4156;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			margin-bottom: 20px;

		}
			.services .single_service .service_icon_outer .fa{
				font-size: 80px;
				color: #ffffff;
				position: absolute;
				top: 20px;
			}

			.services .single_service .service_icon_outer .fa-wrench{
				left: 25px;
			}

			.services .single_service .service_icon_outer .fa-music{
				left: 22px;
			}

			.services .single_service .service_icon_outer .fa-exchange{
				left: 20px;
			}
		.services .single_service h5{
			font-family: 'Roboto', sans-serif;
			font-size: 22px;
			font-weight: 400;
			color: #000000;
			padding-bottom: 15px;
			text-align: center;
		}
		.services .single_service h6{
			font-family: 'Roboto', sans-serif;
			font-size: 17px;
			line-height: 24px;
			font-weight: 400;
			color: #292929;
			padding-bottom: 20px;
			text-align: center;
		}

		.services .single_service p{
			font-family: 'Open Sans', sans-serif;
			font-size: 17px;
			font-weight: 400;
			color: #575757;
			text-align: center;
		}
		.services .single_service ul{
			font-family: 'Roboto', sans-serif;
			font-size: 17px;
			font-weight: 400;
			color: #575757;
			padding-bottom:80px;

		}
		.services .single_service ul.two_column{
			margin-left: 31px;

		}
			.services .single_service ul li{
				font-family: 'Open Sans', sans-serif;
				font-size: 17px;
				font-weight: 400;
				color: #575757;
				padding: 5px 0 5px 10px;
				vertical-align: top;
				display: block;
				text-align: center;
			}
			.services .single_service ul.two_column li{
				padding: 5px 0 5px 10px;
				width: 45%;
				width: calc( 50% - 15px );
				display: inline-block;
				text-align: left;
			}
		.services .single_service .details_btn{
			font-family: 'Roboto', sans-serif;
			font-size: 17px;
			font-weight: 400;
			color: #ffffff;
			text-decoration: none;
			background-color: #be4156;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			padding: 10px 0;
			display: inline-block;
			position: absolute;
			width: 250px;
			text-align: center;
			top: 420px;
			left: 50%;
			margin-left: -125px;


		}
.friends{
	position: relative;
	text-align: center;
	padding: 50px 0;
}
	.friends h3{
		font-family: 'Roboto', sans-serif;
		display: block;
		color: #000000;
		margin: 0 auto;
		font-size: 36px;
		font-weight: 500;
		padding: 10px 100px;
		margin-bottom: 30px;
		border:0;
		text-align: center;
	}
	.friends ul{
		margin: 0px auto;
	}
		.friends ul li{
			padding: 0 60px;
			display: inline-block;
			width: 29%;
			width: calc( 33% - 40px );
			text-align: center;
			vertical-align: top;
		}
			.friends ul li a{
				text-align: center;
				text-decoration: none;
			}
				.friends ul li a img{
					display: block;
					margin: 0 auto;
					height: 200px;
					margin-bottom: 20px;

				}
				.friends ul li a span{
					display: block;
					text-align: center;
					font-family: 'Roboto', sans-serif;
					font-size: 17px;
					font-weight: 400;
					color: #292929;


				}
/* Generic Page CSS Start*/
h1.page_title{
	font-family: 'Roboto', sans-serif;
	color: #000000;
	font-size: 36px;
	font-weight: 500;
	margin: 40px 0px 30px;
	text-align: center;
	
}
h3{
	font-family: 'Roboto', sans-serif;
	color: #292929;
	margin: 30px auto 10px;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 400;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e1e1e1;
	text-align: left;
}
p{
	color: #575757;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height: 26px;
	font-weight: 400;
	margin-bottom: 13px;
	text-align: left;
}
p.img_desc{
	color: #898989;
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	line-height: 26px;
	font-weight: 400;
	margin-bottom: 0px;
	text-align: center;
}
p.tagline{
	color: #be4156;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	line-height: 2.1rem;
	font-weight: 400;
	margin: 40px 0px 20px;
	text-align: left;
}
p.note{
	color: #575757;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

/* Lessons CSS Start */
.teachers{
	margin-bottom: 50px;
	
}
	.teachers p.page_subtitle{
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		line-height: 26px;
		font-weight: 400;
		color: #575757;
	}
	.teachers ul{
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
	}
		.teachers ul li.teacher{
			margin-bottom: 40px;
		}
			.teachers ul li.teacher img{
				display: inline-block;
				vertical-align: top;
				width: 160px;
				padding: 3px;
				border: 1px solid #919191;
				margin-right: 15px;
			}
			.teachers ul li.teacher div.text{
				display: inline-block;
				max-width: calc(100% - 187px);
				vertical-align: top;
			}
				.teachers ul li.teacher div.text h2{
					font-family: 'Roboto', sans-serif;
					color: #000000;
					margin: 0 auto;
					font-size: 28px;
					line-height: 36px;
					font-weight: 500;
					padding-bottom: 2px;
				}
				.teachers ul li.teacher div.text h4{
					font-family: 'Roboto', sans-serif;
					color: #292929;
					margin: 0 auto;
					font-size: 19px;
					font-weight: 400;
					padding-bottom: 10px;
				}
				.teachers ul li.teacher div.text p.bio{
					color: #575757;
					font-family: 'Open Sans', sans-serif;
					font-size: 17px;
					line-height: 26px;
					font-weight: 400;
				}
				.teachers ul li.teacher div.text a{
					color: #be4156;
					font-family: 'Open Sans', sans-serif;
					font-size: 17px;
					line-height: 26px;
					font-weight: 400;
				}


/*Resume CSS start*/
.resume{
	margin-bottom: 50px;
}

.resume .resume_title {
	margin-top: 50px;
}

.resume .resume_img {
	width: 120px;
	height: 120px;
	overflow: hidden;
	position: absolute;
	top: -20px;
	right: 0px;
}

.resume .resume_img span {
	display: block;
	width: 160px;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	text-align: center;
}

.resume .resume_img img {
	width: 100%;
	display: block;
	margin: auto;
}
	.resume h1.name{
		font-family: 'Roboto', sans-serif;
		color: #000000;
		margin: 0 auto;
		font-size: 28px;
		font-weight: 500;
		padding-bottom: 2px;
		
	}
	.resume p span.emph{
		font-weight: 700;
		color: #575757;
	}


/* Sunset Strings CSS Start*/
.sunset_strings{
	text-align: center;
	margin-bottom: 50px;
}

/* Performances CSS Start*/
.preformances{
	text-align: center;
	margin-bottom: 50px;
	
}
	.preformances p{
		margin-bottom: 30px;
	}
	.preformances audio{
		width: 640px;
		text-align: center;
	}
	.preformances .sample_container{
		margin-bottom: 20px;
	}
		.preformances .sample_container button{
			font-family: 'Roboto', sans-serif;
			font-size: 17px;
			font-weight: 400;
			color: #ffffff;
			text-decoration: none;
			background-color: #be4156;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			padding: 10px 0;
			display: inline-block;
			border: 0;
			width: 240px;
			margin-left: 16px;
			margin-bottom: 10px;
			cursor: pointer;
		}
		.preformances .sample_container button:nth-child(4n + 1){
			margin-left:0;
		}

/* Rentals CSS Start*/

.rentals,
.repairs{
	margin-bottom: 50px;
}
	.rentals p{
		
	}
		.rentals p em{
			font-weight: 600;
		}
	.rentals ul{
		list-style-type: disc;
		padding-left: 22px;
	}
		.rentals li{
			color: #575757;
			font-family: 'Open Sans', sans-serif;
			font-size: 17px;
			line-height: 26px;
			font-weight: 400;
			margin-bottom: 5px;
			text-align: left;
		}

	.rentals table,
	.repairs table{
		width: 800px;
		margin: 0 auto;
	}

	.rentals table {
		margin-top: 40px;
	}

	.rentals table,
	.repairs table {
		border-bottom: 2px solid #be4156;
	}

	.repairs div.full {
		width: 800px;
		margin: 0 auto;
		overflow: hidden;
	}

	.repairs div.half {
		width: 380px;
		margin-top: 40px;
		float: left;
	}

	.repairs div.half:nth-child(odd) {
		margin-right: 40px;
	}

	.repairs .half table {
		width: 100%;
	}

	.repairs table + table {
		margin-top: 40px;
	}

		.rentals table thead,
		.repairs table thead{
			background-color: #be4156;
			color: #F0F0F0;
			font-family: 'Open Sans', sans-serif;
			font-size: 17px;
			line-height: 26px;
		}

		.rentals table tbody,
		.repairs table tbody{
			color: #575757;
			font-family: 'Open Sans', sans-serif;
			font-size: 17px;
			line-height: 26px;
		}
			.rentals table tbody tr,
			.repairs table tbody tr{
			}
			.rentals table tbody tr:nth-child(even),
			.repairs table tbody tr:nth-child(even){
				background-color: #eaeaea;
			}
				.rentals table tbody tr td,
				.rentals table thead tr th,
				.repairs table tbody tr td,
				.repairs table thead tr th{
					padding: 6px 5px;
					text-align: center;
				}
				.rentals table tbody tr td:nth-child(1),
				.rentals table thead tr th:nth-child(1),
				.repairs table tbody tr td:nth-child(1),
				.repairs table thead tr th:nth-child(1){
					text-align: left;
				}
					.rentals table tbody tr td span,
					.rentals table thead tr th span,
					.repairs table tbody tr td span,
					.repairs table thead tr th span{
						padding-left: 40px;
					}

/* Rentals CSS End*/

/* Repair Pge CSS */
.repairs .tagline{
	text-align: center;
}

/*About page CSS start*/
.about{
	text-align: center;
	margin-bottom: 50px;
}
	.about img{
		width: 640px;
		height: 480px;
		margin-bottom: 40px;
	}

/*Contact page CSS start*/
.contact{
	margin-bottom: 50px;
}
	.contact .loc_container{

	}
		.contact .loc_container iframe{
			width: 50%;
			padding-right: 10px;
			display: inline-block;
			box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
			vertical-align: middle;
		}
		.contact .loc_container .address_container{
			width: 49%;
			padding-left: 10px;
			display: inline-block;
			box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
			vertical-align: middle;
		}
			.contact .loc_container .address_container .address{
				color: #575757;
				font-family: 'Open Sans', sans-serif;
				font-size: 17px;
				line-height: 26px;
				font-weight: 600;
				margin-bottom: 0;
			}
			.contact .loc_container .address_container .address_note{
				margin-top: 30px;
			}
	.contact form{
		margin-top: 40px;
		overflow: hidden;
		
	}
		.contact form .input_container{
			box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
			width: 49%;
			width: calc(50% - 2px);
			display: inline-block;
		}
		.contact form .input_container:nth-child(even){
			padding-left: 10px;
		}
		.contact form .input_container:nth-child(odd){
			padding-right: 10px;
		}

		.contact form .input_container:nth-child(n + 3) {
			margin-top: 12px;
		}
			.contact form .input_container label,
			.contact form .textarea_container label{
				display: block;
				color: #575757;
				font-family: 'Open Sans', sans-serif;
				font-size: 17px;
				line-height: 26px;
				font-weight: 600;
			}
				.contact form .input_container label .req,
				.contact form .textarea_container label .req{
					font-size: 14px;
					font-weight: 400;
				}
			.contact form .input_container input{
				display: block;
				width: 100%;
				padding: 5px 10px;
				color: #575757;
				font-family: 'Open Sans', sans-serif;
				font-size: 17px;
				box-sizing:border-box;
				-moz-box-sizing:border-box; /* Firefox */
				border: #575757 1px solid;
				background-color: #FCFCFC;
			}
		.contact form .textarea_container{
			margin-top: 12px;
			box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
			width: 100%;
		}
			.contact form .textarea_container textarea{
				box-sizing:border-box;
				-moz-box-sizing:border-box; /* Firefox */
				width: 100%;
				padding: 5px 10px;
				color: #575757;
				font-family: 'Open Sans', sans-serif;
				font-size: 17px;
				box-sizing:border-box;
				-moz-box-sizing:border-box; /* Firefox */
				height: 160px;
				border: #575757 1px solid;
				background-color: #FCFCFC;
			}
		.contact form button{
			font-family: 'Roboto', sans-serif;
			font-size: 17px;
			font-weight: 400;
			color: #ffffff;
			text-decoration: none;
			background-color: #be4156;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			padding: 10px 0;
			display: inline-block;
			border: 0;
			width: 240px;
			margin-top: 12px;
			cursor: pointer;
			float: right;
			clear: both;
		}


@media all and (max-device-width: 1023px) {
}
@media all and (max-device-width: 767px) {

}
@media all and (max-device-width: 500px) {
	/* Index Page CSS Start*/
	header h3{
		font-size: .8rem;
	}
	nav ul.nav>li{
		display: block;
		padding: 7px 0;
	}
	.hero{
		display: none;
	}
	.services .single_service{
		width: 100%;
		max-width: 100%;
		display: block;
	}
	.services .single_service.repair .details_btn{
		top: 350px;
	}
	.services .single_service.rental{
		margin-bottom: 40px
	}
	.services .single_service.rental .details_btn{
		top: 400px;
	}
	.about_us img{
		margin: 0 auto;
	}
	.about_us .text_container{
		width: 100%;

	}
	.about_us h2, .about_us p{
		padding: 0 20px;
	}
	.friends ul li {
		padding: 0;
		display: block;
		width: 100%;
	}
		.friends ul li+li{
			padding-top: 40px;
		}
	nav ul.nav>li:hover>a+ul{
		display: none;
	}
	/* Index Page CSS End*/
}