/*
Red - #be4156

*/

/* Generic CSS */
header{
	background-color: #be4156;
	width: 100%;
	min-height: 100px;
}
nav{
	width: 100%;
	border: 1px solid #e1e1e1;
	text-align: center;
}
.container{
	max-width: 1024px;
	margin: 0 auto;
}

/* Index Page CSS */
header h1{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	text-align: center;
	font-size: 28px;
	font-weight: 500;
}
header h3{
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-align: center;
}

nav ul.nav{
	margin: 0 auto;
	display: inline-block;
}
	nav ul.nav>li{
		display: inline-block;
		padding: 25px 12px;
		position: relative;
	}
		nav ul.nav>li>a{
			display: inline-block;
			text-decoration: none;
			color: #575757;
			font-family: 'Open Sans', sans-serif;
			font-size: 19px;
		}
			nav ul.nav>li>a>.fa{
				position: absolute;
				top: 25px;
				left: 25px;
				top: 45px;
				left: 42px;
				font-size: 15px;
			}
			nav ul.nav>li:hover>a{
				color: #be4156;
			}
			nav ul.nav>li>a+ul{
				position: absolute;
				border: 1px solid #e1e1e1;
				top: 69px;
				left: -30px;
				display: none;
				width: 157px;
				background-color: #ffffff;
				z-index: 10
			}
				nav ul.nav>li>a+ul>li{
					padding: 10px 22px;
					text-align: center;
				}
				nav ul.nav>li>a+ul>li:hover{
					background-color: #e1e1e1; 
					color: #ffffff;
				}
					nav ul.nav>li>a+ul>li>a{
						font-family: 'Open Sans', sans-serif;
						color: #575757;
						text-decoration: none;
					}
					nav ul.nav>li>a+ul>li:hover>a{
					}
			nav ul.nav>li:hover>a+ul{
				display: inline-block;
			}
.hero{
	background: url('../img/guitar.jpg');
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: 50% 40%;
}
.body{
	position: relative;
	text-align: center;
}
	.body h1{
		font-family: 'Roboto', sans-serif;
		display: inline-block;
		color: #000000;
		margin: 0 auto;
		font-size: 36px;
		font-weight: 500;
		padding: 10px 100px;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.body h2,
	.body p{
		color: #575757;
		text-align: center;
		margin: 0 auto;
		font-family: 'Open Sans', sans-serif;	
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 20px;
		line-height: 24px;
		max-width: 800px;
	}
	.body .services_container{
		margin-top: 80px;
		padding: 30px 0 80px;
		border-top: 1px solid #be4156;
		border-bottom: 1px solid #be4156;
	}
		.body .services_container h3{
			font-family: 'Roboto', sans-serif;
			color: #000000;
			margin: 0 auto;
			font-size: 36px;
			font-weight: 500;
			padding: 10px 100px;
			margin-bottom: 30px;
		}
		.body .services_container .single_service{
			max-width: 341px;
			width: calc( 33% - 2px );
			display: inline-block;
			box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
			padding: 0 20px;
			vertical-align: top;
		}
			.body .services_container .single_service .service_icon_outer{
				height: 120px;
				width: 120px;
				text-align: center;
				position: relative;
				margin: 0 auto;
				background-color: #be4156;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				margin-bottom: 20px;

			}
				.body .services_container .single_service .service_icon_outer .fa{
					font-size: 80px;
					color: #ffffff;
					position: absolute;
					top: 20px;
				}

				.body .services_container .single_service .service_icon_outer .fa-wrench{
					left: 25px;
				}

				.body .services_container .single_service .service_icon_outer .fa-music{
					left: 22px;
				}

				.body .services_container .single_service .service_icon_outer .fa-exchange{
					left: 20px;
				}
			.body .services_container .single_service h5{
				font-family: 'Roboto', sans-serif;
				font-size: 22px;
				font-weight: 400;
				color: #000000;
				padding-bottom: 3px;

			}
			.body .services_container .single_service h6{
				font-family: 'Roboto', sans-serif;
				font-size: 17px;
				font-weight: 400;
				color: #292929;
				padding-bottom: 10px;

			}
			.body .services_container .single_service ul{
				font-family: 'Roboto', sans-serif;
				font-size: 17px;
				font-weight: 400;
				color: #575757;

			}
				.body .services_container .single_service ul li{
					font-family: 'Open Sans', sans-serif;
					font-size: 16px;
					font-weight: 400;
					color: #575757;
					padding: 5px 10px;
					vertical-align: top;
				}
	.body .friends_container{
		padding: 30px 0 80px;
	}
		.body .friends_container h3{
			font-family: 'Roboto', sans-serif;
			color: #000000;
			margin: 0 auto;
			font-size: 36px;
			font-weight: 500;
			padding: 10px 100px;
			margin-bottom: 30px;
		}